@model Exam_Management.Models.Paper

@{
    ViewBag.Title = "ShowPaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Paper</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back", "PaperManager",null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Attempt", "AttemptManager", new { id = Model.Id }, new { @class = "btn btn-success" })
</p>
