@model Exam_Management.Models.Paper

@{
    ViewBag.Title = "DeletePaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Paper</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back", "PaperManager",null, new { @class = "btn btn-primary" })
            <input type="submit" value="Delete" class="btn btn-dark" />
        </div>
    }
</div>
